<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>图书管理</h1>

<form method="post">
    <label>作者名: </label><input type="text" name="author_name" placeholder="请输入作者名"><br/>
    <label>书名： </label><input type="text" name="book_name" placeholder="请输入书名"><br/>
    <input type="submit" value="保存">
</form>

<hr>

{#<ul>#}
{#    {% for author in authors %}#}
{##}
{#        <li>{{ author.name }}<a href="/delete_author/{{ author.id }}"> 删除</a></li>#}
{#        <ul>#}
{#            {% for book in author.books %}#}
{#                <li>{{ book.name }} <a href="/delete_book/{{ book.id }}"> 删除</a></li>#}
{##}
{#            {% endfor %}#}
{##}
{#        </ul>#}
{#    {% endfor %}#}
{##}
{#</ul>#}



</body>
</html>